/* HERO HEADER */
.about-hero {
   height: 320px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.about-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(0,0,0,0.75), rgba(0,0,0,0.25));
}

.about-hero-overlay {
  position: relative;
  color: #fff;
}

.about-hero-overlay h1 {
  font-size: 48px;
}

.breadcrumb {
  margin-top: 8px;
  display: flex;
  gap: 12px;
}

.home-link {
  color: white;
  text-decoration: none;
}

.home-link:hover {
  color: orange;
}

.arrow, .current {
  color: orange;
}

/* CONTAINER */
.about-container {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

.about-container p {
  color: #555;
  line-height: 1.8;
  margin-bottom: 18px;
}

.about-highlight {
  font-weight: bold;
  color: #993916;
}

/* VISION MISSION */
.vm-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-top: 60px;
}

.vm-icon {
  font-size: 60px;
  color: #d6781d;
}

.vm-line {
  height: 4px;
  width: 60px;
  background: #d6781d;
  margin-bottom: 15px;
}

.vm-card:nth-child(2) {
  border-left: 4px solid #d6781d;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .vm-section {
    grid-template-columns: 1fr;
  }

  .vm-card:nth-child(2) {
    border-left: none;
    padding-left: 0;
  }

  .about-hero {
    padding-left: 20px;
    height: 220px;
  }

  .about-hero-overlay h1 {
    font-size: 30px;
  }
}
/* ABOUT GRID */
.about-grid {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 60px;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  object-fit: cover;
}

.about-text {
  flex: 1.3;
}

.about-text p {
  margin-bottom: 14px;
  line-height: 1.7;
  color: #333;
  font-size: 15.5px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-grid {
    flex-direction: column;
  }

  .about-image img {
    max-height: 350px;
  }
}
@media (max-width: 600px) {
  .about-hero {
    height: 180px;
    padding-left: 15px;
  }

  .about-hero-overlay h1 {
    font-size: 24px;
  }
}
